:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --text-color-white: #ffffff;
}
body {
  font-family: Roboto, sans-serif;
  color: #757575;
}
.list {
  list-style: none;
}
.logo,
.accent {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #212121;
}
.accent {
  color: var(--accent-color);
}
/* sitte-nav */
.site-nav .link {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link.current {
  color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.info .link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.info .link:hover,
.info .link:focus {
  color: var(--accent-color);
}
/* footer */
.footer .container {
  display: flex;
}
.footer {
  background-color: #2f303a;
}
.logo.inverse {
  display: block;
  margin-bottom: 20px;
  color: var(--text-color-white);
}
.footer-address {
  display: flex;
  flex-direction: column;
  color: var(--text-color-white);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address {
  margin-top: 0;
  margin-bottom: 9px;
}
.address-link {
  margin-bottom: 9px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.footer-appeal {
  /* border: 1px solid tomato; */
  margin-left: 70px;
  color: var(--text-color-white);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.container.bottom {
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: baseline;
}
