:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --text-color-white: #ffffff;
}
body {
  font-family: Roboto, sans-serif;
  color: #757575;
}
/* sr-only */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 1200px;
  /* outline: 2px solid red; */
}
.list {
  list-style: none;
}
/* Logo */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #212121;
}
.logo__accent {
  color: var(--accent-color);
}
/* main-nav */
.main-nav {
  display: flex;
  align-items: center;
}
/* site-nav */
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}
.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav__link--current {
  color: var(--accent-color);
}
.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}
.header-info {
  display: flex;
  margin-left: auto;
}
.header-info__item {
  display: inline-flex;
}
.header-info--envelope::before {
  content: '';
  margin-top: 34px;
  margin-right: 10px;
  margin-bottom: 34px;
  width: 16px;
  height: 12px;

  background-image: url(../images/icons-header/envelope.svg);
  background-size: contain;
}
.header-info--phone::before {
  content: '';
  margin-top: 32px;
  margin-right: 10px;
  margin-bottom: 32px;
  width: 10px;
  height: 16px;

  background-image: url(../images/icons-header/phone.svg);
  background-size: contain;
}
.header-info__item:not(:last-child) {
  margin-right: 50px;
}
.header-info__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-info__link:hover,
.header-info__link:focus {
  color: var(--accent-color);
}
/* footer */
.footer {
  background-color: #2f303a;
}
.footer-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 1200px;
  align-items: baseline;
}
.footer-info__logo {
  display: block;
  margin-bottom: 20px;

  color: var(--text-color-white);
}
.footer-address {
  display: flex;
  flex-direction: column;

  color: var(--text-color-white);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-address__address {
  margin-top: 0;
  margin-bottom: 9px;
}
.footer-address__link {
  margin-bottom: 9px;
  text-decoration: none;

  color: rgba(255, 255, 255, 0.6);
}
.footer-appeal {
  /* border: 1px solid tomato; */
  margin-left: 70px;

  color: var(--text-color-white);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
