body {
  font-family: Roboto, sans-serif;
  color: #757575;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  outline: 2px solid red;
}
/* Logo */
.logo,
.accent {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #212121;
}
.accent {
  color: var(--accent-color);
}
/* sitte-nav */
.site-nav .link {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link.current {
  color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.info .link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.info .link:hover,
.info .link:focus {
  color: var(--accent-color);
}
/* hero */
.hero {
  background-color: #757575;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--text-color-white);
  text-decoration: none;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button {
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  background-color: var(--accent-color);
  color: var(--text-color-white);
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
}
/* features */
.feature-title {
  visibility: hidden;
  margin-top: 0;
  margin-bottom: 0;
}
.feature-list .title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.feature-list .text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* works examples */
.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.work-list .text {
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--text-color-white);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/* our team */
.section-team {
  background-color: #f5f4fa;
}
.team-list .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.team-list .text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.container .title {
  margin-top: 30px;
  margin-bottom: 10px;
}
/* footer */
.footer {
  background-color: #2f303a;
}
.footer-logo,
.accent {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer-logo {
  color: var(--text-color-white);
}
.footer-address {
  color: var(--text-color-white);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-info {
  color: rgba(255, 255, 255, 0.6);
}
.footer-appeal {
  color: var(--text-color-white);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
