@import './utils/variables';
@import './utils/breakpoints';
@import './base/normalize';
@import './base/reset-styles';
@import './utils/placeholders';
@import './utils/mixins';
@import './components/body';
@import './components/container';
@import './components/header';
@import './components/index/offer';
@import './components/index/feature';
@import './components/index/work';
@import './components/index/team';
@import './components/index/customers';
@import './components/footer';
@import './components/portfolio/portfolio';
