.form-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.form-checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.form-checkbox__icon {
  display: inline-block;
  margin-right: 8px;
  margin-left: 13px;
  width: 16px;
  height: 16px;

  border: 2px solid $titleColor;
  border-radius: 4px;

  transition: background-color 250ms $cubicBezier, transform 250ms $cubicBezier,
    border-color 250ms $cubicBezier;

  .form-checkbox__input:checked + & {
    transform: scale(1.1);
    background-color: $accentColor;
    border-color: transparent;
    border-radius: 2px;

    background-image: url(../images/form/check.svg);
    background-size: contain;
    background-origin: border-box;
  }
}

.form-checkbox__label {
  margin-right: 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: $primaryColor;
}
.form-checkbox__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: $accentColor;
  text-decoration: underline;
}
