.portfolio-button {
  @include alignedFlex();
  justify-content: center;
  margin-top: 94px;
  margin-bottom: 50px;
}
.portfolio-button__button {
  padding: 6px 22px;
  border: 0px;

  border-radius: 4px;
  background: $bgColorBlock;

  @include fontProperty(
    $color: $titleColor,
    $weight: 500,
    $size: 16px,
    $height: 1.63
  );
  // color: $titleColor;
  // font-weight: 500;
  // font-size: 16px;
  // line-height: 1.63;
  // letter-spacing: 0.03em;

  transition: background-color 250ms $cubicBezier, color 250ms $cubicBezier;

  &:not(:last-child) {
    margin-right: 8px;
  }
  &:hover,
  &:focus {
    background-color: $accentColor;
    color: $whiteColor;
    cursor: pointer;
  }
}
