.button {
  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px;
  min-width: 200px;
  border-radius: 4px;
  border: solid 1px $accentColor;

  cursor: pointer;
  background-color: $accentColor;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  @include fontProperty(
      $color: $whiteColor,
      $weight: 700,
      $height: 1.88,
      $spacing: 0.06em
    )
    // color: $whiteColor;
    // font-weight: 700;
    // font-size: 16px;
    // line-height: 1.88;
    // letter-spacing: 0.06em;
;
}
