.portfolio-section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.portfolio-button {
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    text-align: center;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 56px;
  }
}
.portfolio-button__button {
  margin-bottom: 15px;
  padding: 6px 22px;
  border: 0px;

  border-radius: 4px;
  background: $bgColorBlock;

  @include fontProperty(
    $color: $titleColor,
    $weight: 500,
    $size: 16px,
    $height: 1.63
  );

  transition: background-color 250ms $cubicBezier, color 250ms $cubicBezier;

  &:not(:last-child) {
    margin-right: 8px;
  }
  &:hover,
  &:focus {
    background-color: $accentColor;
    color: $whiteColor;
    cursor: pointer;
  }
  &:nth-child(2) {
    margin-right: 0;
  }
  &:nth-child(3) {
    margin-right: 0;
  }
  &:nth-child(n + 4) {
    margin-bottom: 0;
  }
  @media screen and (min-width: 450px) {
    &:nth-child(2) {
      margin-right: 8px;
    }
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    &:nth-child(3) {
      margin-right: 8px;
    }
  }
}
.portfolio-list {
  padding: 0;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}
.portfolio-list__card {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-child(n + 9) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - 30px);

    &:nth-child(1n + 1) {
      margin-right: 30px;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }

    &:nth-child(n + 7) {
      margin-bottom: 0;
    }
  }
}

.portfolio-list__link {
  display: block;
}
.portfolio-content {
  @include bordered($borderColorCard);
  padding: 20px 24px;
  box-sizing: border-box;

  background: $whiteColor;
}
.portfolio-content__title {
  margin-top: 0;
  margin-bottom: 4px;

  @include fontProperty(
    $color: $titleColor,
    $weight: 700,
    $size: 17px,
    $height: 2,
    $spacing: 0.06em
  );
}
.portfolio-content__desc {
  margin: 0;

  @include fontProperty($color: $primaryColor, $size: 16px, $height: 1.88);
}
.portfolio-list__text {
  @include fontProperty($color: $whiteColor, $size: 14px, $height: 1.5);

  @media screen and (min-width: 480px) {
    font-size: 22px;
    line-height: 1.56;
  }
  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-list__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding: 10px 24px;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms $cubicBezier;

  .portfolio-list__card:hover &,
  .portfolio-list__card:focus & {
    transform: translateY(0);
    opacity: 1;
  }
  @media screen and (min-width: 480px) {
    padding: 49px 24px;
  }
  @media screen and (min-width: 768px) {
    padding: 20px;
  }
  @media screen and (min-width: 1200px) {
    padding: 49px 24px;
  }
}
