.footer-appeal {
  margin-left: 70px;
  margin-right: 93px;

  @include fontProperty(
    $color: $whiteColor,
    $weight: 700,
    $transform: uppercase
  );
  // color: $whiteColor;
  // font-weight: 700;
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.03em;
  // text-transform: uppercase;
}
.footer-appeal__appeal {
  display: inline-block;
  margin-bottom: 20px;
}
.footer-social {
  display: flex;
}
.footer-social__item {
  margin-right: 10px;
}
.footer-social__link {
  display: block;
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: $whiteColor;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms $cubicBezier;

  &:hover,
  &:focus {
    background-color: $accentColor;
  }
}
.footer-social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
