.footer-form {
  @include alignedFlex($typeAlign: flex-end);
}
.footer-field__label {
  display: inline-block;
  margin-bottom: 20px;
  @include fontProperty(
    $color: $whiteColor,
    $weight: 700,
    $transform: uppercase
  );
  font-style: normal;
  // color: $whiteColor;
  // font-weight: 700;
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.03em;
  // text-transform: uppercase;
}
.footer-field__input {
  display: block;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: $bgColorFooter;
  @include fontProperty(
    $color: rgba(255, 255, 255, 0.6),
    $size: 16px,
    $height: 1.25
  );
  // color: rgba(255, 255, 255, 0.6);
  // font-weight: 400;
  // font-size: 16px;
  // line-height: 1.25;
  // align-items: center;
  // letter-spacing: 0.03em;

  &:focus {
    outline: none;
    border-color: $accentColor;
  }
  &:invalid {
    outline: none;
    border-color: red;
  }
}
.footer-button {
  position: relative;
  padding-top: 10px;
  padding-right: 62px;
  padding-bottom: 10px;
  padding-left: 29px;
}
.footer-button__icon {
  position: absolute;
  top: 13px;
  right: 28px;
  width: 24px;
  height: 24px;
  fill: currentColor;
}
