.header-social {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.header-social__items:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
  padding-right: 10px;
}
.header-social__items {
  transition: transform 250ms $cubicBezier;
}
.header-social__items:hover,
.header-social__items:focus {
  transform: rotate(90deg);
}
.header-social__link {
  padding-top: 5px;
  padding-bottom: 5px;
  @include fontProperty(
    $color: $primaryColor,
    $weight: 500,
    $size: 18px,
    $height: 1.2,
    $spacing: 0.02em
  );
  &:hover,
  &:focus {
    color: $accentColor;
  }
}
