.header-container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  @media screen and (min-width: 480px) {
    @include containerMedia($mobile);
  }
  @media screen and (min-width: 768px) {
    @include containerMedia($tablet);
  }
  @media screen and (min-width: 1200px) {
    @include containerMedia($desktop);
  }
}
.main-nav {
  @include alignedFlex();
  justify-content: space-between;
  min-height: 60px;

  @media screen and (min-width: 768px) {
    @include alignedFlex();
    min-height: auto;
    justify-content: flex-start;
    min-height: auto;
  }
}
