.team {
  background-color: $bgColorBlock;
}
.team-section {
  @extend %container;
  @extend %primer;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.team-list__item {
  margin-right: 30px;
  margin-bottom: 94px;
  width: 270px;

  &:nth-child(4n) {
    margin-right: 0;
  }
}

.team-content {
  padding-top: 30px;
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 30px;
  background: $whiteColor;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-content__title {
  margin-top: 0;
  margin-bottom: 10px;

  @include fontProperty(
    $color: $titleColor,
    $weight: 500,
    $size: 16px,
    $height: 1.19
  );
  // color: $titleColor;
  // font-weight: 500;
  // font-size: 16px;
  // line-height: 1.19;
  // letter-spacing: 0.03em;
  text-align: center;
}
.team-content__text {
  margin-top: 0;
  margin-bottom: 16px;

  @include fontProperty($color: $primaryColor, $size: 16px, $height: 1.19);

  // font-weight: 400;
  // font-size: 16px;
  // line-height: 1.19;
  // letter-spacing: 0.03em;
  text-align: center;
}
.team-social {
  display: flex;
}
.team-social__item {
  margin-right: 10px;
}
.team-social__link {
  display: block;
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: $socialLinkColor;

  transition: background-color 250ms $cubicBezier;

  &:hover,
  &:focus {
    background-color: $accentColor;
  }
}

.team-social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;

  transition: fill 250ms $cubicBezier;

  .team-social__link:hover &,
  .team-social__link:focus & {
    fill: $whiteColor;
  }
}
