$primaryColor: #757575;
$titleColor: #212121;
$accentColor: #2196f3;
$whiteColor: #ffffff;
$borderColorCard: #eeeeee;
$socialLinkColor: #afb1b8;
$bgColorOffer: #c4c4c4;
$bgColorBlock: #f5f4fa;
$bgColorFooter: #2f303a;
$fontFamilyBody: Roboto, sans-serif;
$fontFamilyLogo: Raleway, sans-serif;
$cubicBezier: cubic-bezier(0.4, 0, 0.2, 1);
