.customers {
  @extend %container;
  @extend %primer;
  height: 370px;
}
.customers-list {
  display: flex;
}
.customer-list__item {
  margin-right: 30px;
}
.customer-list__link {
  display: block;
  width: 170px;
  height: 90px;
  border: 1px solid $socialLinkColor;
  border-radius: 4px;

  color: $socialLinkColor;

  transition: background-color 250ms $cubicBezier;

  &:hover,
  &:focus {
    border-color: $accentColor;
  }
}
.customer-list__logo {
  fill: currentColor;

  transition: fill 250ms $cubicBezier;

  .customer-list__link:hover &,
  .customer-list__link:focus & {
    fill: $accentColor;
  }
}
.logo-yaco {
  @include paddingLogo(20px 63px);
}
.logo-tagcompany {
  @include paddingLogo(19px 65px);
}
.logo-company {
  @include paddingLogo(24px 64px);
}
.logo-foster {
  @include paddingLogo(24px 45px);
}
.logo-brand {
  @include paddingLogo(22px 55px);
}
.logo-companytag {
  @include paddingLogo(22px 40px);
}
